@using WebGui.Services
@inject UserService UserService

<MudContainer MaxWidth="MaxWidth.Large">
    <MudCard>
        <MudCardHeader>
            <div>
                <MudText Typo="Typo.h4" Color="Color.Primary">Welcome, @UserService.CurrentUser!.UserName !</MudText>
            </div>
        </MudCardHeader>
        <MudCardContent>
            
        </MudCardContent>
    </MudCard>
</MudContainer>

@code {

}