@using WebGui.Services
@using Model.Entities.Sessions
@using Domain.Repositories.Interfaces
@using Model.Entities.Books
@using Domain.Repositories.Implementation
@inject UserService UserService
@inject ISessionRepository SessionRepository
@inject IBookRepository BookRepository
@inject IDialogService DialogService

<MudContainer MaxWidth="MaxWidth.Large">
    <MudCard>
        <MudCardHeader Class="align-items-lg-start">
            <div>
                <MudText Typo="Typo.h3" Color="Color.Primary">Playbook</MudText>
                <MudText Typo="Typo.h6" Color="Color.Primary">@(Random.Shared.Next(0, 100) < 75 ? "Welcome back, " : "Hello, ") @UserService.CurrentUser!.UserName !</MudText>
            </div>
            <MudSpacer/>
            <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="OpenDialog">Create new Session</MudButton>
        </MudCardHeader>
        <MudCardContent>
            @if (Sessions.Any()) {
                foreach (var session in Sessions) {
                    <SessionComponent Session="session"/>
                }
                <br/>
                <MudDivider/>
                <br/>
            }
            <BookOverviewComponent Books="@Books" ShowHeading="Sessions.Any()"/>
        </MudCardContent>
    </MudCard>
</MudContainer>


@code {

    public List<Session> Sessions { get; set; } = new();
    public List<Book> Books { get; set; } = new();
    
    protected override async Task OnParametersSetAsync() {
        try {
            @if (UserService.CurrentUser is not null) {
                Sessions = await SessionRepository.ReadSessionsFromUserForOverview(UserService.CurrentUser.Id); 
                Books = await BookRepository.ReadAllWithTitlePageAsync();
            }
        }
        catch (Exception e) {
            Console.WriteLine(e);
            throw;
        }
    }
    
    private async Task OpenDialog()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };
        var dialog = DialogService.Show<SessionCreationDialog>("Create new Session", options);

        var result = await dialog.Result;
        if (!result.Cancelled && UserService.CurrentUser is not null) {
            Sessions = await SessionRepository.ReadSessionsFromUserForOverview(UserService.CurrentUser.Id); 
            StateHasChanged();
        }
    }

}