@inject NavigationManager NavManager

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-sm-auto"></div>
        <div class="col-lg-6 col-sm-10">
            <MudCard Outlined="true">
                <MudCardContent>
                    <MudText Typo="Typo.h5">404 - Not Found!</MudText>
                    <br/>
                    <MudText Typo="Typo.body1">Seite oder Objekt konnte nicht gefunden / geladen werden!</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudButton OnClick="NavigateToHome" Variant="Variant.Filled" Color="Color.Primary" FullWidth="true">Home</MudButton>
                </MudCardActions>
            </MudCard>
        </div>
        <div class="col-lg-3 col-sm-auto"></div>
    </div>
</div>

@code {

    private void NavigateToHome() {
        NavManager.NavigateTo("/");
    }
}