@inherits LayoutComponentBase

<MudThemeProvider Theme="_myCustomTheme"/>

<MudDialogProvider
    FullWidth="true"
    CloseButton="true"
    DisableBackdropClick="true"
    Position="DialogPosition.Center"
/>

<MudSnackbarProvider/>

<PageTitle>WebGui</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    readonly MudTheme _myCustomTheme = new MudTheme() {
        Palette = new Palette() {
            Primary = "#307160",
            Secondary = "#6f9467",
            Tertiary = "#9eb08d",
        },
        LayoutProperties = new LayoutProperties() {
            DrawerWidthLeft = "260px",
            DrawerWidthRight = "300px"
        }
    };
}